<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles03.css">
  <title>layout02</title>
</head>

<body>
  <header class="header">Header</header>

  <nav>Navigation Bar</nav>

  <div class="flex-container"> <!-- using CSS flexbox -->
      Flexbox
      <div>
        <h3>Heading</h3>
        <p>Paragraph</p>
      </div>
      <div>
        <h3>Heading</h3>
        <p>Paragraph</p>
      </div>
  </div>

  <div class="flex-container"> <!-- using CSS flexbox -->
      Flexbox
      <div>
        <h3>Heading</h3>
        <p>Paragraph</p>
      </div>
      <div>
        <h3>Heading</h3>
        <p>Paragraph</p>
      </div>
  </div>

  <footer>Footer</footer>



</body>

</html>
